*.aux
tagm.bbl
*.blg
*.log
*.out
.Rhistory
cache
.Rproj.user
cover.tex
tagm-annotated.aux
tagm-annotated.bbl
tagm-annotated.blg
tagm-annotated.log
tagm-annotated.out
tagm-annotated.pdf
tagm-annotated.Rnw
tagm-annotated.tex
TAGM-response-reviewers.pdf

si.bbl
